@{
    ViewBag.Title = "Empty/AddEmpty";
}

<h2>Add New Empty (Cinema?)</h2>
<table>
    <tr>
        <td>CinemaID</td>
        <td><input type="text" ng-model="CinemaID" />  </td>
    </tr>
    <tr>
        <td>Nom</td>
        <td><input type="text" ng-model="Nom" />  </td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td><input type="text" ng-model="Adresse" />  </td>
    </tr>
    <tr>
        <td>EnExploitation</td>
        <td><input type="text" ng-model="EnExploitation" />  </td>
    </tr>
    <tr>
        <td>ResponsableID</td>
        <td><input type="text" ng-model="ResponsableID" />  </td>
    </tr>
    <tr>
        <td>Programmateur</td>
        <td><input type="text" ng-model="Programmateur" />  </td>
    </tr>
</table>
<input type="button" value="Save" ng-click="save()" />

