@{
    ViewBag.Title = "DeleteEmpty";
}

<h2>DeleteEmpty (Cinema?)</h2>

<table>
    <tr>
        <td>CinemaID</td>
        <td>{{Cinema.CinemaID}}</td>
    </tr>
    <tr>
        <td>Nom</td>
        <td>{{Cinema.Nom}}</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td>{{Cinema.Adresse}}</td>
    </tr>
    <tr>
        <td>EnExploitation</td>
        <td>{{Cinema.EnExploitation}}</td>
    </tr>
    <tr>
        <td>ResponsableID</td>
        <td>{{Cinema.ResponsableID}}</td>
    </tr>
    <tr>
        <td>Programmateur</td>
        <td>{{Cinema.Programmateur}}</td>
    </tr>
</table>
<input type="button" value="Delete" ng-click="delete()" />

