@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <hgroup>
        <h1>Erreur.</h1>
        <h2>Une erreur s'est survenue lors de l'operation.</h2>
    </hgroup>

    @if (Model != null)
    {
        <div class="jumbotron">
            <h3>Error info.</h3>
            <p>@Model.Exception.Message</p>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#stacktrace" aria-expanded="false" aria-controls="stacktrace">
                Voir le stack trace.
            </button>
            <div class="collapse mt-3" id="stacktrace">
                <div class="card card-body">
                    <p><small>@Model.Exception.StackTrace</small></p>
                </div>
            </div>
        </div>
    }

</body>
</html>
