@model CineLogic.Models.Directeur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Directeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nom }) |
    @Html.ActionLink("Back to List", "Index")
</p>
