body {

}

.time-in {
    width: 5rem !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#calendar button {
    background: none !important;
    border: 0.5px solid !important;
    color: #0275d8;
}
