body {

}

.time-in {
    width: 5rem !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-left: 16px solid #3498db; /* Blue */
    border-right: 16px solid #3498db;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.loader-small {
    border: 8px solid #f3f3f3; /* Light grey */
    border-left: 8px solid #3498db; /* Blue */
    border-right: 8px solid #3498db;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#calendar button {
    background: none !important;
    border: 0.5px solid !important;
    color: #0275d8;
}

.datepicker td {
    width: 30px;
}

.datepicker td.active {
    background-color: #007bff !important;
    background-image: none !important;
    border-radius: 4px !important;
}



input[readonly] {
    background-color: lightblue !important;
    font-weight: bold;
}

.show {
    display: none;
    z-index:10000;
    position: absolute;
}

.show .card {
    border: 0px;
}

#rmenu .list-group-item {
    background-color: #DDEEEF;
    cursor: default;
}

#rmenu .list-group-item:hover {
    background-color: darkgray;
}


.modal-open .container {
    -webkit-filter: blur(3px) grayscale(90%);
}

#list-films .list-group-item:hover {
    background-color: lightblue;
}

.myRB {
    font-size: 2rem;
    color: gold;
}