@{
    ViewBag.Title = "À propos de:";
}

<h3>@ViewBag.Message</h3>

<h4>Product owner:</h4>
<h6>Julien Brunet</h6>

<h4>Developeurs:</h4>
<h6>Andrew Faulkner</h6>
<h6>Mylene Marois</h6>
<h6>Hamdi Ben Slim</h6>
<h6>Volodymyr Komarov </h6>
<h6>Natalia Gradova</h6>
