@model IEnumerable<CineLogic.Models.User>

@{
    ViewBag.Title = "Page administration";
}

<div class="jumbotron">
    <div>
        @using (CineLogic.Models.CineDBEntities db = new CineLogic.Models.CineDBEntities())
        {
            foreach (var item in db.Users)
            {

                if (item.Login.Equals((string)Session[CineLogic.Models.Libraries.SessionTypes.login]))
                {
                    <span> Bienvenue <b>@Session[CineLogic.Models.Libraries.SessionTypes.login]</b> dans votre espace membre</span>
                }
            }
        }
    </div>
</div>


