@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    PPA7<br />
    1300, 8e Avenue Québec<br />
    (Québec) G1J 5L5<br />
    <abbr title="Phone">P:</abbr>
    418.647.6600
</address>

<address>
    <strong>Julien Brunet:</strong>   <a href="mailto:Julien.Brunet@cegeplimoilou.ca">Julien.Brunet@cegeplimoilou.ca</a><br />
    <strong>Andrew Faulkner:</strong> <a href="mailto:Andrew.Faulkner@etudiant.cegeplimoilou.ca">Andrew.Faulkner@etudiant.cegeplimoilou.ca</a><br />
    <strong>Mylene Marois:</strong>   <a href="mailto:Mylene.Marois@etudiant.cegeplimoilou.ca">Mylene.Marois@etudiant.cegeplimoilou.ca</a><br />
    <strong>Hamdi Ben Slim:</strong> <a href="mailto:Hamdi.BenSlim@etudiant.cegeplimoilou.ca">Hamdi.BenSlim@etudiant.cegeplimoilou.ca</a><br />
    <strong>Volodymyr Komarov:</strong>   <a href="mailto:Volodymyr.Komarov@etudiant.cegeplimoilou.ca">Volodymyr.Komarov@etudiant.cegeplimoilou.ca</a><br />
    <strong>Natalia Gradova:</strong> <a href="mailto:Natalia.Gradova@etudiant.cegeplimoilou.ca">Natalia.Gradova@etudiant.cegeplimoilou.ca</a>
</address>