@{
    ViewBag.Title = "CineLogic";
}

<div class="jumbotron">
    <h1>Bienvenue chez CineLogic!</h1>
    <p class="lead">CineLogic est une application de gestion de cinéma.</p>
    <p>Il y aura peut-être plus de contenu ici plus tard.</p>

    <br /><br />
    <h2>Informations à propos du User</h2>
    <p>Détails et Edits en dessous.</p>
    <br />
    <p>
        Si User est admin il peut ajouter d'autres users de n'importe quel type,
        sinon un responsable peut ajouter des programmateurs. Le programmateur pourrait
        voir seulement ses informations et modifier l'horaire.
    </p>
</div>
