@model IEnumerable<CineLogic.Models.Seance>

@{
    ViewBag.Title = "Index";
}

<h2>Selectionner le cinéma et salle:</h2>
<div class="d-flex">

    <select class="form-control mr-2" id="cinema-select"></select>


    <select class="form-control" id="salle-select"></select>

</div>


@section scripts {
    <script>
        $(document).ready(function () {

            //  Chercher les cinemas disponibles.
            $.get('@Url.Action("Cinemas")', null, function (data) {
                    $.each(data, function (i, item) {
                        console.log(item);
                        $("#cinema-select").append(
                            '<option value="' + item.CinemaID + '">' + item.Nom + '</option>'
                        );
                        getSalles();
                    });
                }
            );

            //  Chercher les salles correspondant à le cinéma selectionné.
            function getSalles() {

                var cinemaID = $("#cinema-select").val();

                console.log(cinemaID);

                $.get(
                    '@Url.Action("Salles")',
                    {cinemaID: cinemaID},
                    function (data) {
                        console.log(data);
                        $("#salle-select").empty();
                        $.each(data, function (i, item) {
                            $("#salle-select").append(
                                '<option value="' + item.SalleID + '">' + item.Nom + '</option>'
                            );
                        });
                    }
                );
            }

            //  Mettre à jour les salles chaque fois que le cinéma est changé.
            $("#cinema-select").change(function () {
                console.log("change");
                getSalles();
            });
        });
    </script>
}

